apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kmm-device-plugin
rules:
- apiGroups:
  - security.openshift.io
  resourceNames:
  - privileged
  resources:
  - securitycontextconstraints
  verbs:
  - use
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
  - patch
  - update
